services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_new_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  # --------------------------------------------------------

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"

  # DISCOVERY SERVICE (Eureka)
  eureka-server:
    image: ecommerce/eureka-server
    container_name: eureka-server
    build:
      context: ./eureka-server
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    environment:
      EUREKA_SERVER_HOST: eureka-server

  # CORE MICROSERVICES
  product-service:
    image: ecommerce/product-service
    container_name: product-service
    build:
      context: ./product-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      SPRING_CLOUD_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      EUREKA_SERVER_HOST: eureka-server
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/productdb
      EUREKA_INSTANCE_HOSTNAME: product-service
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      EUREKA_INSTANCE_NON_SECURE_PORT_ENABLED: "true"
    depends_on:
      - eureka-server
      - mongodb
      - zipkin

  order-service:
    image: ecommerce/order-service
    container_name: order-service
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      SPRING_CLOUD_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      EUREKA_SERVER_HOST: eureka-server
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_AMQP_HOST: rabbitmq
      EUREKA_INSTANCE_HOSTNAME: order-service
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      EUREKA_INSTANCE_NON_SECURE_PORT_ENABLED: "true"
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orderdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      eureka-server:
        condition: service_started
      rabbitmq:
        condition: service_started
      zipkin:
        condition: service_started
      postgres:
        condition: service_healthy

  notification-service:
    image: ecommerce/notification-service
    container_name: notification-service
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    environment:
      SPRING_CLOUD_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      EUREKA_SERVER_HOST: eureka-server
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_AMQP_HOST: rabbitmq
      EUREKA_INSTANCE_HOSTNAME: notification-service
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      EUREKA_INSTANCE_NON_SECURE_PORT_ENABLED: "true"
    depends_on:
      - eureka-server
      - rabbitmq
      - zipkin

  # API GATEWAY
  api-gateway:
    image: ecommerce/api-gateway
    container_name: api-gateway
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_CLOUD_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      EUREKA_SERVER_HOST: eureka-server
      EUREKA_INSTANCE_HOSTNAME: api-gateway
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
      EUREKA_INSTANCE_NON_SECURE_PORT_ENABLED: "true"
    depends_on:
      - eureka-server

volumes:
  mongodb_data:
  postgres_new_data: