

server:
  port: 8082

spring:
  application:
    name: ORDER-SERVICE

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  datasource:
    url: jdbc:postgresql://postgres:5432/orderdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

resilience4j:
  circuitbreaker:
    instances:
      productServiceBreaker:
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        slidingWindowSize: 20
        slidingWindowType: COUNT_BASED